---
import { Image } from "astro:assets";
import AppPreviewBg from "../assets/images/yore-mobile-mock.png";
import HeroBg from "../assets/images/hero-bg.png";
---

<section
  id="what-is-yore"
  class="relative flex items-center min-h-screen py-32 overflow-hidden bg-yore-dark"
>
  <!-- Background Map -->
  <div class="absolute inset-0 bg-center bg-cover">
    <Image
      src={HeroBg}
      alt="Hero Background"
      class="absolute inset-0 object-cover w-full h-full mix-blend-luminosity"
    />
    <div class="absolute inset-0 z-10 bg-yore-dark/70 lg:bg-yore-dark/20"></div>
  </div>

  <div
    class="relative z-10 grid items-center gap-12 px-6 mx-auto max-w-7xl lg:grid-cols-2"
  >
    <!-- Left Content -->
    <div>
      <h2>What is Yore?</h2>
      <div class='leading-relaxed"'>
        <p>
          Yore is the intelligent platform for archaeology and history
          enthusiasts.
        </p>
        <p>
          Whether you're an amateur historian, professional archaeologist, or
          weekend explorer, Yore transforms how you discover, analyze, and share
          historical sites.
        </p>
        <p>
          You can stay current and share findings made in exploration with a
          community of like-minded explorers. Chat to the "Yore-acle", an AI
          powered historian chatbot, document your visits with notes, photos,
          and GPS locations, and explore entries from other history enthusiasts
          around the world.
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center lg:justify-end">
      <Image
        src={AppPreviewBg}
        alt="App Preview Background"
        class="w-3/4 h-auto mix-blend-normal"
      />
    </div>
  </div>
</section>
