---
---
  <!-- Footer -->
   <footer class="fixed bottom-0 left-0 right-0 bg-gray-900">
  <div class="absolute bottom-4 left-6 text-gray-400 text-sm">
    © Yore 2024. All rights reserved
  </div>
  <div class="absolute bottom-4 right-6 text-gray-400 text-sm">
    Design & Build by <span class="text-white">Foreste</span>
  </div>
</footer>
