@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl lg:text-5xl font-serif font-normal text-white mb-6;
  }
  h2 {
    @apply text-4xl lg:text-6xl  font-serif text-white mb-6;
  }
  h3 {
    @apply text-4xl lg:text-7xl font-serif font-normal text-white mb-6 lg:mb-8;
  }
  h4 {
    @apply text-lg lg:text-xl font-semibold mb-1 text-white;
  }
  h5 {
    @apply text-lg lg:text-xl font-semibold mb-1 text-white;
  }
  p {
    @apply text-base font-sans font-thin text-white mb-4;
  }

  h2 + p,
  h2 + div > p:first-of-type  {
    @apply text-lg lg:text-2xl leading-relaxed font-light;
  }

  h3 + p {
    @apply text-lg lg:text-xl text-gray-300 font-light leading-normal lg:leading-relaxed mb-12;
  }
  .box-test > * {
    @apply outline outline-1 outline-red-500;
  }
}

@layer utilities {
   /* .yore-map-bg {
        @apply bg-yore-dark bg-cover bg-blend-luminosity bg-repeat-y;
        background-image: url('../assets/images/page-bg.png');
    } */
/*
    .yore-hero-bg {
        @apply bg-yore-dark bg-cover bg-top bg-blend-luminosity;
        background-image: url('../assets/images/hero-bg.png');
    }*/

    .feature-item {
        @apply bg-bottom bg-no-repeat;
        background-image: url('../assets/images/divider.svg');
    }
}
